doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/style.css')
  body(class= darkMode ? 'dark' : '')
    div(class="container")
      h1#title= title
      button#hello-button(type="button" class="styled-button") Hello
      button#error-button(type="button" class="styled-button") Error
      button#home-button(type="button" class="styled-button" style="display: none") ← Home
    script(src="/frontend.js")
